body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  text-align: center;
}

.card {
  background: white;
  width: 400px;
  margin: 120px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px gray;
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
}

button {
  background: #4f46e5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #3730a3;
}

#msg {
  color: green;
}
